.AppBar {
    display: inline-block;
};

.l1 {
    display: inline-block;
    color: aliceblue;
};
.l2 {
    display: inline-block;

};
.l3 {
    display: inline-block;

};
.l4 {
    display: inline-block;

};